{% extends 'base.html' %}
{% block title %}about{% endblock title %}
{% block body %}

    <div class="position-relative overflow-hidden p-0 p-md-0 m-md-0 text-center bg-light rounded" style="background-image: url('/static/img/myimg.jpg'); height:400px; background-size: cover; background-position: center; background-repeat: no-repeat">
    </div>
  <section class="py-5">
        <div class="container">
            <div class="row ">
                <!-- About Us Section -->
                <div class="col-md-8 px-5 py-5" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; border-radius: 30px 100px 30px 100px">
                    <h2 class="mb-4">FAMILY-PACK ICECREAM</h2>
                    <p class="mb-4">
                        At Memon's parlor, we believe that sharing delicious moments with your loved ones makes life sweeter. Our Family Pack Ice Cream is crafted with love and premium ingredients, perfect for making every gathering unforgettable.
                    </p>
                    <p class="mb-4">
                    <h3>Why Choose Our Family Pack?</h3> <br>
                        1. Generous Portions for Sharing <br>
                        2. Variety of Flavors <br>
                        3. Quality You Can Trust <br>
                        4. Perfect for Any Occasion <br>
                        5. Convenient and Affordable <br>
                    </p>
                </div>

                <!-- Card Section -->

                <div class="mx-0 col-md-4 d-flex align-items-center justify-content-center">
    <div class="card text-center" style="width: 20rem;">
        <img class="card-img-top mx-auto" src="/static/img/family.avif" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">FAMILY-PACK</h3>
        </div>
    </div>
</div>
            </div>
        </div>

    </section>


{% endblock body %}