{% extends 'base.html' %}
{% block title %}home{% endblock title %}

{% block body %}
<style>
    /* Internal CSS starts here */



    </style>
<div class="position-relative overflow-hidden p-0 p-md-0 m-md-0 text-center bg-light rounded" style="background-image: url('/static/img/myimg.jpg'); height:400px; background-size: cover; background-position: center; background-repeat: no-repeat">
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 my-4">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="background: linear-gradient(to top left, #958E69 0%, #000000 100%)">
        <div class="my-3 py-3">
          <h2 class="display-6" style="font-family: Serif">THE SPECIAL ICECREAM</h2>
          <p class="lead">Tasty and lovely flavors</p>
        </div>
        <div class="box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('/static/img/ice.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat"></div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5"  style="font-family: Serif">DELICIOUS FLAVORS</h2>
          <p class="lead">Yummm and soft cream</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="background-image: url('/static/img/p4.jpg'); width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-size: cover; background-position: center; background-repeat: no-repeat"></div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 py-5">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5" style="font-family: Serif">Different flavors</h2>
          <p class="lead">Love to eat every bite</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('/static/img/p3.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat"></div>
      </div>
      <div style="background: linear-gradient(to top left, #958E69 0%, #000000 100%)" class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5" style=" font-family: sans-serif">Every bite Delight</h2>
          <p class="lead">Every scoop is a dream come true!</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="background-image: url('/static/img/p5.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5" style="font-family: Serif">Different Colors</h2>
          <p class="lead">Magic of Ice Cream Wonderland</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('/static/img/p1.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat"></div>
      </div>
    </div>

    <div class="row mx-5 px-5 my-5 text-center pb-5" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; border-radius: 30px 100px 30px 100px">
        <h1 class="my-5 py-4" style="font-family: Calibri; font-size: 60px">OUR MOST FAMOUS FLAVORS</h1>
        <div class="col-lg-4">
            <img class="rounded-circle" src="/static/img/p1.jpeg" alt="Generic placeholder image" width="160" height="160">
            <h3>CHOCOLATE</h3>
            </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="rounded-circle" src="/static/img/p6.jpg" alt="Generic placeholder image" width="160" height="160">
            <h3>MANGO</h3>
            </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="rounded-circle" src="/static/img/p3.jpg" alt="Generic placeholder image" width="160" height="160">
            <h3>STAWBERRY</h3>
            </div><!-- /.col-lg-4 -->
    </div>

{% endblock body %}