{% extends 'base.html' %}
{% block title %}about{% endblock title %}
{% block body %}
     <div class="position-relative overflow-hidden p-0 p-md-0 m-md-0 text-center bg-light rounded" style="background-image: url('/static/img/myimg.jpg'); height:400px; background-size: cover; background-position: center; background-repeat: no-repeat">
    </div>

    <div class="row mx-5 px-5 my-5 text-center pb-5" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; border-radius: 30px 100px 30px 100px">
        <h2 class="my-5 py-4 mb-0" style="font-family: Calibri; font-size: 60px">THREE DELICIOUS CREAMY FLAVORS</h2>
        <h6>"Explore a world of flavors – from classic vanilla to exotic mango passion! <br> Dive into our creamy, dreamy flavors – there's something for everyone at Ice Cream Oasis</h6>
        <div class="col-lg-4 my-5">
            <img class="rounded-circle mb-2" src="/static/img/p1.jpeg" alt="Generic placeholder image" width="160" height="160">
            <h4>CHOCOLATE</h4>
            </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 my-5">
            <img class="rounded-circle mb-2" src="/static/img/p6.jpg" alt="Generic placeholder image" width="160" height="160">
            <h4>MANGO</h4>
            </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 my-5">
            <img class="rounded-circle mb-2" src="/static/img/p3.jpg" alt="Generic placeholder image" width="160" height="160">
            <h4>STAWBERRY</h4>
            </div><!-- /.col-lg-4 -->
    </div>

    <div class="row mx-5 px-5 my-5 text-center pb-5" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; border-radius: 30px 100px 30px 100px">
        <h2 class="my-5 py-4 mb-0" style="font-family: Calibri; font-size: 60px">EXTRA SOFT CREAMS</h2>
        <h6>"Explore a world of flavors – from classic vanilla to exotic mango passion! <br> Dive into our creamy, dreamy flavors – there's something for everyone at Ice Cream Oasis</h6>
        <div class="col-lg-4 my-5">
            <img class="rounded-circle mb-2" src="/static/img/p2.jpg" alt="Generic placeholder image" width="160" height="160">
            <h4>VINELLA</h4>
            </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 my-5">
            <img class="rounded-circle mb-2" src="/static/img/ice.jpeg" alt="Generic placeholder image" width="160" height="160">
            <h4>COLDCUP</h4>
            </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 my-5">
            <img class="rounded-circle mb-2" src="/static/img/p3.jpg" alt="Generic placeholder image" width="160" height="160">
            <h4>STAWBERRY</h4>
            </div><!-- /.col-lg-4 -->
    </div>

    <div class="row mx-5 px-5 my-5 text-center pb-5" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; border-radius: 30px 100px 30px 100px">
        <h2 class="my-5 py-4 mb-0" style="font-family: Calibri; font-size: 60px">ONE BITE, MAKE LIFE!!</h2>
        <h6>"Explore a world of flavors – from classic vanilla to exotic mango passion! <br> Dive into our creamy, dreamy flavors – there's something for everyone at Ice Cream Oasis</h6>
        <div class="col-lg-4 my-5">
            <img class="rounded-circle mb-2" src="/static/img/icee.jpeg" alt="Generic placeholder image" width="160" height="160">
            <h4>YELLOW CREAM</h4>
            </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 my-5">
            <img class="rounded-circle mb-2" src="/static/img/p5.jpg" alt="Generic placeholder image" width="160" height="160">
            <h4>MANGO</h4>
            </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 my-5">
            <img class="rounded-circle mb-2" src="/static/img/p4.jpg" alt="Generic placeholder image" width="160" height="160">
            <h4>WHITE CREAM</h4>
            </div><!-- /.col-lg-4 -->
    </div>

{% endblock body %}

